<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clm.developers.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="clm.developers.login.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="clm.developers.login.PlaceActivity"
            android:label="@string/title_activity_place" >
        </activity>
        <activity
            android:name="clm.developers.login.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="clm.developers.login.MenuVentaCobranzaActivity"
            android:label="@string/title_activity_menu_venta_cobranza" >
        </activity>
        <activity
            android:name="clm.developers.login.ProductosListaActivity"
            android:label="@string/title_activity_productos_lista" >
        </activity>
        <activity
            android:name="clm.developers.login.AgregarVentaContadoActivity"
            android:label="@string/title_activity_agregar_venta_contado" >
        </activity>
        <activity
            android:name="clm.developers.login.RegistrarVentaActivity"
            android:label="@string/title_activity_registrar_venta" >
        </activity>
        <activity
            android:name="clm.developers.login.LugarActivity"
            android:label="@string/title_activity_lugar" >
        </activity>
        <activity
            android:name="clm.developers.cobranza.ClienteActivity"
            android:label="@string/title_activity_cliente" >
        </activity>
        <activity
            android:name="clm.developers.login.CuentaActivity"
            android:label="@string/title_activity_cuenta" >
        </activity>
        <activity
            android:name="clm.developers.login.NClienteActivity"
            android:label="@string/title_activity_ncliente" >
        </activity>
        <activity
            android:name="clm.developers.login.ClientepagoActivity"
            android:label="@string/title_activity_clientepago" >
        </activity>
    </application>

</manifest>
